{% extends "collector/base.html" %}
{% load staticfiles %}
{% block title %}Twitter Elections{% endblock %}

{% block content %}
<div class="row blue-grey lighten-5">
		<aside class="col s12 l3 reset-padding white">
		<ul class="collapsible collapsible-accordion reset-margin ">
			<li>
			<div class="header collapsible-header white black-text">
				<h5><i class="fa fa-filter" aria-hidden="true"></i> Filter</h5>
			</div>
			<div class="collapsible-body">
				<form action="" method="post">
	        		{% csrf_token %}
					<ul class="collapsible collapsible-accordion reset-margin ">
						<li><a class="collapsible-header waves-effect black-text">Parties and Candidates</a>
						   <div class="collapsible-body">
						       <ul>
							       	<li>
							       		<p>
							       		 {{  form.option }}
							        	</p>
							        </li>
						        </ul>
						    </div>
						</li>
						<li><a class="collapsible-header  waves-effect black-text">Events</a>
							<div class="collapsible-body">
						  		<ul>
						  			<li>
						  				<p>
						  				{{  form.event }}
						            	</p>
						            </li>
						        </ul>
						    </div>
						</li>
						<li class="btn-filter white">
						    <button type="submit" name="filter" class="save btn btn-default light-blue"> Filter </button>
						</li>
					</ul>
				</form>
			</div>
			</li>
			<li>
			<div class="header collapsible-header white black-text">
				<h5><i class="fa fa-balance-scale" aria-hidden="true"></i> Compare</h5>
			</div>
			<div class="collapsible-body">
			<form action="" method="post">
				{% csrf_token %}
				<ul class="collapsible collapsible-accordion reset-margin ">
					<li><a class="collapsible-header waves-effect black-text">First Party or Candidate</a>
					   <div class="collapsible-body">
					       <ul>
						       	<li>
						       		<p>
						       		 {{  compare_form.option1 }}
						        	</p>
						        </li>
					        </ul>
					    </div>
					</li>
					<li><a class="collapsible-header waves-effect black-text">Second Party or Candidate</a>
					   <div class="collapsible-body">
					       <ul>
						       	<li>
						       		<p>
						       		 {{  compare_form.option2 }}
						        	</p>
						        </li>
					        </ul>
					    </div>
					</li>
					<li><a class="collapsible-header  waves-effect black-text">Events</a>
						<div class="collapsible-body">
					  		<ul>
					  			<li>
					  				<p>
					  				{{  compare_form.event }}
					            	</p>
					            </li>
					        </ul>
					    </div>
					</li>
					<li class="btn-filter white">
					    <button type="submit" name="compare" class="save btn btn-default light-blue"> Compare </button>
					</li>
				</ul>
		  	</form>
		  	</div>
		  	</li>
		</aside>

		<div class="col s12 l9 blue-grey lighten-5">
			{% if filters%}
			<section id="filter">
				<div class="col s12 filters">
				{% if name%}
					<div class="chip">
					<img  src="{% static 'collector/images/'%}{{img}}  " alt="Contact Person">
					 {{name}}
					 </div>
					 {%endif%}
				</div>
				    <div class="col s12 m6 l6 offset-l3">
			          <div class="card light-blue">
			            	<div class="card-content center white-text">
			              		<span class="card-title "><i class="fa fa-twitter" aria-hidden="true"></i> Tweets</span>
			                   	<h4 >{{ tweets_number}}</h4>
			                </div>
			            </div>
			        </div>
			        <div class="col s12 m6 l4">
			          <div class="card purple">
			            <div class="card-content center white-text">
			              <span class="card-title"><i class="fa fa-hashtag" aria-hidden="true"></i> Hashtags </span>
			              <h4>{{ hashtags_number}}</h4>
			            </div>
			          </div>
			        </div>

			        <div class="col s12 m6 l4">
			          <div class="card pink">
			            <div class="card-content center white-text">
			              <span class="card-title"> <i class="fa fa-tags" aria-hidden="true"></i> Mentions </span>
			              <h4>{{ users_number}}</h4>
			            </div>
			          </div>
			        </div>

			        <div class="col s12 m6 l4">
			          <div class="card teal">
			            <div class="card-content center white-text">
			              <span class="card-title"><i class="fa fa-users" aria-hidden="true"></i> Users </span>
			              <h4>{{ owners_number}}</h4>
			            </div>
			          </div>
			        </div>
				<div class="col s12">
			    	<div class="col s12 l4">
			    	<ul class="collapsible white" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header large"><i class="fa fa-hashtag large-i circle purple white-text" aria-hidden="true"></i>Top Hashtags</div>
					      <div class="collapsible-body">
					      	<ul>
					      		{% for i,v in top_hashtags%}
			    				<li class="collection-item avatar">
			    					<p>{{i}} : {{v}}</p>
			    				</li>
			    			{% endfor %}
					      	</ul>
					      </div>
					    </li>
					  </ul>

			    	</div>
			    	<div class="col s12 l4">
			    		<ul class="collapsible white" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header large"><i class="fa fa-tags large-i circle pink white-text" aria-hidden="true"></i>Top Mentions</div>
					      <div class="collapsible-body">
					      	<ul>
					      		{% for i,v in top_users%}
			    				<li class="collection-item avatar">
			    					<p>{{i}} : {{v}}</p>
			    				</li>
			    			{% endfor %}
					      	</ul>
					      </div>
					    </li>
					  </ul>
			    	</div>
			    	<div class="col s12 l4">
			    		<ul class="collapsible white" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header large"><i class="fa fa-users large-i circle teal white-text" aria-hidden="true"></i>Top Users</div>
					      <div class="collapsible-body">
					      	<ul>
					      		{% for i,v in top_owners%}
			    				<li class="collection-item avatar">
									<p>{{i}} : {{v}}</p>
			    				</li>
			    			{% endfor %}
					      	</ul>
					      </div>
					    </li>
					  </ul>
			    	</div>
			    </div>
				<div class="col s12">

					<div class="col m12 l6 offset-l3">
						<div class="card">
					    	<div class="card-image waves-effect waves-block waves-light">
					      		{{graph_sentiment |safe}}
					    	</div>
						    <div class="card-content">
						      <span class="card-title activator grey-text text-darken-4">Sentiment<i class="material-icons right">more_vert</i></span>
						    </div>
						    <div class="card-reveal">
					      		<span class="card-title grey-text text-darken-4">Sentiment<i class="material-icons right">close</i></span>
					      		<p>These are the percentages in each sentiment for the party or candidate selected. The analysis has been applied to the tweets that contains the associate word in the date of the event. </p>
					    	</div>
						</div>
					</div>
				</div>
			</section>
			{%else%}
			<section id="compare">

			<div class="row">
				<div class="col s12 l6 white center">
					<h2> {{OP1_name}} </h2>
					<img class="circle responsive-img compare-img" src="{% static 'collector/images/'%}{{OP1_img}}  " alt="Contact Person">
					<h3>{{OP1_tweets_number}} Tweets</h3>
					<p> {{OP1_hashtags_number}} Hashtags</p>
					<p> {{OP1_users_number}} Mentions </p>
					<p> {{OP1_owners_number}} Users </p>
					<h3>Sentiment</h3>
					<p>
						{{OP1_graph_sentiment |safe}}
					</p>
				</div>

				<div class="col s12 l6 white center">
					<h2> {{OP2_name}} </h2>
					<img class="circle responsive-img compare-img" src="{% static 'collector/images/'%}{{OP2_img}}">
					<h3>{{OP2_tweets_number}} Tweets</h3>
					<p> {{OP2_hashtags_number}} Hashtags</p>
					<p> {{OP2_users_number}} Mentions </p>
					<p> {{OP2_owners_number}} Users </p>
					<h3>Sentiment</h3>
					<p>
						{{OP2_graph_sentiment |safe}}
					</p>
				</div>
			</div>
			</section>
			{%endif%}
		</div>
</div>
{% endblock %}