{% extends "collector/base.html" %}
{% load staticfiles %}
{% block title %}Twitter Elections{% endblock %}
{% block content %}
<div id="map"></div>
    <script>
        var mytiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        });
        // Initialise an empty map
        var map = L.map('map');
        // Read the GeoJSON data with jQuery, and create a circleMarker element for each tweet
        // Each tweet will be represented by a nice red dot
        ///
        <!--
        var myjson
        $.getJSON("{% static 'collector/geo_data.json' %}", function(data) {
            //var map = L.map('map')
            var myjson = data;
            L.geoJson(myjson).addTo(map);
            var myLayer = L.geoJson().addTo(map);
            myLayer.addData(myjson);
        });

        // Add the tiles to the map, and initialise the view in the middle of Europe
        map.addLayer(mytiles).setView([34.4,-88.6], 5);
    </script>
{% endblock %}